{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}


{% block main %}

<h2>Lista de Departamentos</h2>
<br>

    {% for departamento in object_list %}
       <a href="">
       <a href="{% url 'update_departamento' departamento.pk %}">
          {{ departamento.pk }} - {{ departamento }}
       </a>
       <a href="{% url 'delete_departamento' departamento.pk %}"
           >Deletar</a>
<br>
    {% endfor %}
<br>
     <a href="{% url 'create_departamento' %}"
        class="btn btn-outline-primary btn-sm">Novo</a>
{% endblock %}
