{% extends 'base.html' %}

{% block main %}
	<p>
		We'we emailed you instructions for setting your password, if an account exists with the email yuo entered.
		You Should receive them shortly.
	</p>
<p>
	Te enviamos um email com as instruções de reset da sua senha. Se uma conta com este email exixtir no nosso Banco de Dados.
</p>

	<p>
		If you don't receive an email, please make sure yuor're entered the address yuo registered with, and check your spam folder.
	</p>
<p>
	Se Voce não tiver recebido um email, por favor, certifique que você entrou com o email correto.
</p>

<P>
	Equipe do Projeto SPWM
</P>
<p>
	Activates Quality Solutyons.

</p>

{% endblock %}