{% autoescape off %}

To initiate the password reset process for your {{ user.get_username }} TestSite Account,
click the link below:

Para iniciar o processo de redefinição de senha para sua conta de {{ user.get_username }} do SPWM,
clique no link abaixo:


{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the url in a new browser
window instead.

Se clicar no link acima e não funcionar, copie e cole o URL em uma nova janela do seu navegador.

Sinceraly,
The TestSite Team


Atenciosamente,

A equipe do Projeto SPWM
Activate Quality Solutions

{% endautoescape %}
